.inputField{
  margin-left: 25px;
}

#white-text{
  color: #fff;
}

ion-item {
  --background: #212121; /* Background color for ion-item */
  --ion-color-base: #303030; /* Base color for ion-item */
}