<ion-header>
  <ion-toolbar>
    <ion-title class="gray-text">
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label class="gray-text" position="floating">Username</ion-label>
    <ion-input class="gray-text" type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item class="input">
    <ion-label class="gray-text" position="floating">Password</ion-label>
    <ion-input class="gray-text" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="login()">Login</ion-button>
  <br>
  <p class="gray-text">Don't have an account? <a routerLink="/register">Register here</a></p>
  <p class="gray-text">Forgot your password? <a routerLink="/recover">Recover it here</a></p>
  <p class="gray-text">{{ loginError }}</p> <!-- Display login error message -->
</ion-content>


