<ion-header>
  <ion-toolbar>
    <ion-title>Edit Transaction</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveTransaction()">
    <ion-item>
      <ion-label position="floating">Amount</ion-label>
      <ion-input [(ngModel)]="transaction.amount" name="amount"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Category</ion-label>
      <ion-select [(ngModel)]="transaction.category">
        <ion-select-option value="Food">Food</ion-select-option>
        <ion-select-option value="Transport">Transport</ion-select-option>
        <ion-select-option value="Shopping">Shopping</ion-select-option>
        <ion-select-option value="Bills">Bills</ion-select-option>
        <ion-select-option value="Others">Others</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Date</ion-label>
      <ion-datetime [(ngModel)]="transaction.date" name="date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Notes</ion-label>
      <ion-input [(ngModel)]="transaction.notes" name="notes"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Location</ion-label>
      <ion-input [(ngModel)]="transaction.location" name="location"></ion-input>
    </ion-item>
    <ion-button expand="full" type="submit">Save</ion-button>
  </form>
</ion-content>
