<ion-header>
  <ion-toolbar>
    <ion-title class="white-text">
      Expense Tracker
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToProfile()"><i id="profile-icon" class="bi bi-person-circle"></i></ion-button>
      <ion-button (click)="logout()"><i id="logout-icon" class="bi bi-box-arrow-right"></i></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="greetings">
    <h4 class="white-text">Welcome</h4>
    <h1 class="white-text">{{ username }}</h1>
  </div>

  <ion-searchbar class="white-text" [(ngModel)]="searchCategory" (ionInput)="filterTransactions()" placeholder="Search by category"></ion-searchbar>
  <div class="button-row">
    <ion-button class="menu-button" expand="block" (click)="addTransaction()">
      <img src="assets/icon/addTransaction.png">
      <ion-label>Add</ion-label>
    </ion-button>
    <ion-button class="menu-button" expand="block" routerLink="/currency-calculator">
      <img src="assets/icon/currencyCalculator.png">
      <ion-label>Convert</ion-label>
    </ion-button>
    <ion-button class="menu-button" expand="block" routerLink="/expense-chart">
      <img src="assets/icon/generateChart.png">
      <ion-label>Chart</ion-label>
    </ion-button>
    </div>

  <div class="expenses-header">
    <h5 class="white-text">List of Expenses</h5>
    <ion-button class="refresh-button" (click)="refreshTransactions()"><img class="refresh-icon" src="assets/icon/refresh.png"></ion-button>
  </div>

  <ion-spinner *ngIf="loading"></ion-spinner> <!-- Show loading spinner when data is loading -->

  <ng-container *ngIf="!loading && filteredTransactionsByMonth">
    <ng-container *ngFor="let month of filteredTransactionsByMonth | keyvalue">
      <ion-list>
        <ion-item-divider class="list-date">
          <ion-label>{{ month.key }}</ion-label>
        </ion-item-divider>

        <ion-item *ngFor="let transaction of month.value">
          <ion-label>
            <h2>Amount: {{ transaction.amount }} MYR</h2>
            <p>Category: {{ transaction.category }}</p>
            <p>Date: {{ transaction.date | date: 'mediumDate' }}</p>
            <p>Notes: {{ transaction.notes }}</p>
            <p>Location: {{transaction.location }}</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="primary" (click)="editTransaction(transaction.id)">
              <i id="editDelete-icon" class="bi bi-pen"></i>
            </ion-button>
            <ion-button color="danger" (click)="deleteTransaction(transaction.id)">
              <i id="editDelete-icon" class="bi bi-trash-fill"></i>
            </ion-button>
          </ion-buttons>
        </ion-item>

        <ion-item>
          <ion-label><strong>Total: {{ getTotalAmount(month.value) }} MYR</strong></ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
  </ng-container>

  <ion-item *ngIf="!loading && transactions.length === 0">
    <ion-label>
      No transactions recorded yet.
    </ion-label>
  </ion-item>
</ion-content>