<ion-header>
  <ion-toolbar>
    <ion-title style="color:white">
      Expense Charts
    </ion-title>
    <ion-buttons slot="start">
      <ion-back-button style="color:white" defaultHref="/expense-tracker"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="chart-container">
    <h5 style="color:white">Average Daily Expenses</h5>
    <div class="chart-subcontainer">
      <canvas id="doughnutChart"></canvas><br>
    </div><br>
    <h5 style="color:white">Expenses for the last 3 months</h5>
    <div class="chart-subcontainer">
      <canvas id="lineChart"></canvas>
    </div>
  </div>
</ion-content>
