<ion-header>
  <ion-toolbar>
    <ion-title style="color: white;">
      Register
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-label style="color: white;" position="floating">Username</ion-label>
    <ion-input style="color: white"type="text" [(ngModel)]="username"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: white;" position="floating">Password</ion-label>
    <ion-input style="color: white" type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: white;" position="floating">Secret Number (last 4 digits of phone number)</ion-label>
    <ion-input style="color: white" type="number" [(ngModel)]="secretnum"></ion-input>
  </ion-item>
  <ion-button expand="block" (click)="register()">Register</ion-button>
  <p style="color: white;">Already have an account? <a routerLink="/login">Login here</a></p>
</ion-content>

